body {
    padding: 0;
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 85vh;
    min-height: 350px;
}

    .controls input {
        margin-bottom: 10px;
        display: block;
    }

        .controls input[type="checkbox"] {
            height: 31px;
            width: 38px;
        }


.chk-box input[type="checkbox"] {
    height: 37px;
    width: 36px;
}

.btn-create {
    text-align: center;
    margin-top: 10px;
}

    .btn-create a {
        font-family: Arial;
        font-size: 32px;
        font-weight: 400;
        padding: 6px;
        color: #000;
        transition: 2s;
    }


.control-test input{
    margin-bottom: 10px;
    display: inline-block;
}

.control-test {
    display: flex;
    align-items: center;
}

.btn-default {
    padding: 8px 40px;
}

.main-control-list li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}