
@{
    ViewBag.Title = "Error";
}


<div class="container">
    <div class="col-md-12">
        <div class="text-center">
            <p style="font-size: 175px; font-weight: bold">&#9785;</p>
            <p style="font-size: 62px; font-weight: bold">404 Page not found</p>
        </div>
        
    </div>
</div>