@{
    ViewBag.Title = "Home Page";
}

@Styles.Render(@"~/Content/css")

<div class="container">
    <div class="col-md-12">
        <div "main-control">
            <ul class="main-control-list">

                <li><a href="@Url.Action("Create", "Test")" class="btn btn-default">Create test</a></li>
                <li><a href="@Url.Action("Find", "Test")" class="btn btn-default">Find test</a></li></ul>
        </div>
    </div>
</div>